apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
spec:
  version: {{ elasticsearch.version }}
  nodeSets:
  - name: default
    count: {{ elasticsearch.replicas }} 
    podTemplate:
      spec:
        initContainers:
        - name: sysctl
          securityContext:
            privileged: true
            runAsUser: 0
          command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
    #config:
      # this allows ES to run on nodes even if their vm.max_map_count has not been increased, at a performance cost
    #  node.store.allow_mmap: false
    volumeClaimTemplates:
    - metadata:
        name: elasticsearch-data # Do not change this name unless you set up a volume mount for the data path.
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: {{ elasticsearch.storageSize }} 
        storageClassName: {{ elasticsearch.storageClass }} 
